section div:nth-child(1), section div:nth-child(3){
    color: blue;
    font-size: 30px;
}
 
section div:nth-child(1){
    margin-top: 20px;
}
 
section div:nth-child(2){
    width: 50%;
}
div{
    margin-left: 35vh; 
}