mat-label{
    font-size: 13px;
}
mat-select{
    font-size: 15px;
}
mat-form-field{
    width: 100px;
    margin: 5px 5px 0px 5px;
}
ace-editor{
    font-size: 15px;
}
button{
    margin-left: 5px;
    margin-right: 5px;
    float:right;
}