
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}
.name{
  width: 50%;
}
.tag{
  width:10%;
}
.difficulty{
  width:10%;
}
.center{
  align-content: center;
}
th{
  background-color: rgb(29, 6, 51);
  color:white;
  font-weight: bold;
}

tr:hover{
  background-color: azure;
}